@import '../../../../../utils/colors.scss';

.marketingMessages > * {
  margin-bottom: 1rem;
}

.msgType > div > label {
  flex: 1;
}

.imageTitle {
  display: flex;
  margin-bottom: 0.5rem;

  > span {
    margin-right: 0.5rem;
  }
}
