@import '../../../utils/index.scss';
@import '../../../utils/colors.scss';
@value slide, tglBtn from '../../../components/slide/module.scss';

.control {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1c1b28;
  margin-bottom: 1vw;
  position: relative;

  .title {
    font-weight: bold;
    color: $textColor;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .buttonAdd {
    @extend .button;
    color: #21abfc;
    margin-right: 1vw;
    font-size: 2vw;
  }

  .groupRight {
    margin-left: auto;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;

    .slideSynced {
      margin-right: 1vw;
    }

    .groupUserCount {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 5vw;
      justify-content: center;

      .slide {
        span {
          color: $liveModeSolidColor;
        }

        .tglBtn {
          width: 2vw;
          height: 1vw;
        }
      }

      .userCountValue {
        font-size: 2vw;
      }
    }
  }
}
