@import '../../../../utils/colors.scss';

$borderRadius: 0.05vw;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .mainPanel {
    width: 73%;
    height: 100%;
    border-right: $borderRadius $neutralColor4 solid;
    display: flex;
    flex-direction: column;

    .mainContent {
      width: 100%;
      height: 95%;
      margin-top: 5%;
      display: flex;
      flex-direction: row;

      .left {
        width: 45%;
        height: 100%;
        border-right: $borderRadius solid $neutralColor4;

        .row {
          width: 75%;
          display: flex;
          flex-direction: row;
          margin-left: 12.5%;
          margin-bottom: 2.5%;
          color: white;
        }

        .screenSaverRow {
          @extend .row;

          .rowText {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 0.9vw;
            font-weight: normal;
            color: white;
          }

          .image {
            width: 25%;
            height: 2vw;
            color: $neutralColor3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }

        .defaultScreenRow {
          margin-top: 1.25vw;
          padding-top: 1.25vw;
          border-top: 0.05vw solid #383841;
          flex-direction: column;
          .defaultScreenContainer {
            .configSlider {
              margin-right: 9%;
            }
          }
        }

        .noEventMsg {
          margin-left: 12.5%;
          width: 75%;

          .label {
            font-size: 0.9vw;
            font-weight: normal;
            color: white;
            margin-bottom: 2.5%;
          }
        }

        .modeRow {
          margin-top: 2.5%;
          width: 100%;
          @extend .screenSaverRow;

          .nonPreviewBtn {
            width: 1.5vw;
            height: 0.75vw;
            border-radius: 0.2vw;
            border-color: #707070;
          }

          .previewBtn {
            width: 0.75vw;
            height: 1.5vw;
            border-radius: 0.2vw;
            border-color: #707070;
          }
        }

        .iconSetRow {
          @extend .row;
          margin-top: 10%;
          flex-direction: column;

          .rowHeader {
            display: flex;

            .iconSetHeaderLabel {
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 0.8vw;
              font-weight: bold;
            }

            .addIconSetBtn {
              margin-left: 1vw;
              font-size: 1.5vw;
              display: flex;
              align-items: center;
              border: none;
              width: 2vw;
              color: $globalSolidColor;
              cursor: pointer;
            }
          }

          .iconSetLabel {
            margin-top: 5%;
            font-weight: normal;
            margin-bottom: 3%;
            font-size: 0.8vw;
          }

          .activeIconSetSelectContainer {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;

            .iconSetSelect {
              width: 80%;
            }

            .activeIconEditControlContainer {
              width: 20%;
              height: 100%;
              display: flex;

              .iconSetEdit {
                border-radius: 0.1vw;
                background: #21abfc;
                -webkit-mask: no-repeat center;
                -webkit-mask-size: contain;
                -webkit-mask-image: url('../../../../../assets/images/icons/edit.svg');
                mask-image: url('../../../../../assets/images/icons/edit.svg');
                background-size: contain;
                width: 1vw;
                height: 1vw;
                margin-left: 0.5vw;
                cursor: pointer;
              }

              .iconSetDelete {
                border-radius: 0.1vw;
                background: #21abfc;
                -webkit-mask: no-repeat center;
                -webkit-mask-size: contain;
                -webkit-mask-image: url('../../../../../assets/images/icons/trash.svg');
                mask-image: url('../../../../../assets/images/icons/trash.svg');
                background-size: contain;
                width: 1vw;
                height: 1vw;
                margin-left: 0.5vw;
                cursor: pointer;
              }
            }
          }
        }

        .mainLabel {
          @extend .row;
          margin-bottom: 1.25vw;
          flex-direction: column;
          color: white;
          font-weight: bold;
          font-size: 0.8vw;
        }

        .configSlider {
          margin-bottom: 0.8vw;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 9%;

          .sliderLabel {
            margin-left: 0.5vw;
            color: white;
            font-size: 0.8vw;
          }
        }
      }

      .middle {
        @extend .left;
        width: 55%;
        overflow: auto;

        .termsLabel {
          @extend .mainLabel;
          margin-top: 5%;
          font-weight: normal;
          margin-bottom: 3%;
          font-size: 0.8vw;
          display: flex;
          flex-direction: row;
          align-items: center;

          .fieldLabel {
            display: flex;
            align-items: center;
            margin-top: 0.1vw;
          }

          .addFieldBtn {
            margin-left: 1vw;
            font-size: 1.5vw;
            display: flex;
            align-items: center;
            border: none;
            width: 2vw;
            color: $globalSolidColor;
          }
        }

        .row60 {
          @extend .row;
          width: 65%;
          align-items: center;

          .textWrapper {
            width: 82%;
          }

          .buttonDelete {
            border-radius: 0.1vw;
            background: url('../../../../../assets/images/icons/trash.svg') no-repeat center;
            background-size: contain;
            width: 1vw;
            height: 1vw;
            margin-left: 1vw;
          }

          .buttonEdit {
            @extend .buttonDelete;
            background: url('../../../../../assets/images/icons/edit.svg') no-repeat center;
          }
        }
      }

      .right {
        @extend .left;

        .audioSplashRow {
          @extend .row;
          margin-left: 0;
          margin-top: 10%;
          width: 100%;
          flex-direction: column;

          .rowText {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 0.9vw;
            font-weight: normal;
            color: white;

            &.large {
              font-size: 1vw;
              font-weight: bold;
            }
          }

          .marginLeftSmall {
            margin-left: 0.5vw;
          }

          .image {
            width: 25%;
            height: 2vw;
            color: $neutralColor3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .previewPanel {
    width: 25%;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
