%headingText {
  font-size: 1.46rem; // 70 / 48
  font-weight: 500;
}

%subheadingText {
  font-size: 1.125rem; // 54 / 48
  font-weight: bolder;
}

%generalText {
  font-size: 1rem;
  font-weight: normal;
}

%inactiveText {
  font-size: 1rem;
  font-weight: lighter;
}

%minorText {
  font-size: 0.67rem; // 32 / 48
  font-weight: lighter;
}
