@import '../../../../utils/colors.scss';

$borderRadius: 0.05vw;

.mainContainer {
  width: 100%;
  height: 100%;
  padding: 0 7.5%;
  display: flex;
  flex-direction: column;

  .chatroomLabel {
    height: 13%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
    // font-size: 0.8vw;
  }

  .panel {
    height: 100%;
    display: flex;

    .roomPanel {
      flex: 1;
      padding-bottom: 1vh;
    }
  
    .reactionPanel {
      flex: 1;
      border-left: $borderWidth solid $neutralColor4;
    }
  }
}
