.toggle {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;

  span {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 0.8vw;
  }

  .image {
    width: 1.5vw;
    height: 1.5vw;
    background: no-repeat center;
    background-size: contain;
    transition: background-image 0.5s;
  }
}
