@import '../../../utils/colors.scss';

.popup {
  width: 45%;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  align-items: center;

  .content {
    background: $gradient4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

    .headerText {
      margin-top: 5%;
      margin-bottom: 2%;
      display: flex;
      width: 100%;

      .headerTitle {
        font-size: 1.25vw;
        text-align: center;
        font-weight: bold;
        margin-left: 10%;
        width: 80%;
      }

      .closeButton {
        width: 5%;
        height: 1.25vw;
        background: url('../../../../assets/images/icons/close.svg') no-repeat center;
        background-size: contain;

        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .row {
      margin-top: 5%;
      margin-bottom: 5%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 65%;
      justify-content: space-around;

      .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #21abfc;
        border-radius: 0.5vw;
        width: 6.5vw;
        height: 6.5vw;
        cursor: pointer;
        transition: transform 0.1s;
        font-weight: bold;
        margin-bottom: 3%;
        font-size: 0.9vw;

        .buttonIcon {
          width: 2vw;
          height: 2vw;
          margin-top: 0.5vw;
          margin-bottom: 1vw;
          mask: no-repeat center;
          mask-size: contain;
        }

        .buttonIcon0 {
          @extend .buttonIcon;
          background: $reactionSolidColor1;
        }

        .buttonIcon1 {
          @extend .buttonIcon;
          background: $reactionSolidColor2;
        }

        .buttonIcon2 {
          @extend .buttonIcon;
          background: $reactionSolidColor3;
        }

        .buttonIcon3 {
          @extend .buttonIcon;
          background: $reactionSolidColor4;
        }

        .buttonIcon4 {
          @extend .buttonIcon;
          background: $targetCardSolidColor;
        }

        .buttonText {
          margin-top: 1vw;
          text-align: center;
        }

        .buttonText0 {
          @extend .buttonText;
          color: $reactionSolidColor1;
        }

        .buttonText1 {
          @extend .buttonText;
          color: $reactionSolidColor2;
        }

        .buttonText2 {
          @extend .buttonText;
          color: $reactionSolidColor3;
        }

        .buttonText3 {
          @extend .buttonText;
          color: $reactionSolidColor4;
        }

        .buttonText4 {
          @extend .buttonText;
          color: $targetCardSolidColor;
        }

        &:active {
          transform: scale(0.95);
        }
      }

      .button0 {
        @extend .button;
        background: reactionLinearGradientColor1();
      }

      .button1 {
        @extend .button;
        background: reactionLinearGradientColor2();
      }

      .button2 {
        @extend .button;
        background: reactionLinearGradientColor3();
      }

      .button3 {
        @extend .button;
        background: reactionLinearGradientColor4();
      }

      .button4 {
        @extend .button;
        background: targetCardLinearGradientColor();
      }
    }
  }
}
