@import '../../utils/colors.scss';

.splitToggle {
  display: flex;
  font-size: 1rem;
  cursor: pointer;

  .splitLabel {
    font-weight: 300;
    color: $neutralColor3;
    margin-right: 0.5em;
    min-width: 2.5em;
    text-align: right;
  }

  .splitImage {
    width: 1.8em;
    height: 3em;
    background: url('../../../assets/images/icons/split.svg') no-repeat center;
    background-size: 3em 3.35em;
    background-position: center top;
  }

  &.selected {
    .splitImage {
      background: url('../../../assets/images/icons/split-selected.svg') no-repeat center;
      background-size: 3em 4em;
    }
    .splitLabel {
      color: white;
      font-weight: 500;
    }
  }
}