@import '../../utils/colors.scss';

.iconButton {
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;

  &:disabled {
    opacity: 0.5;
  }
}
