@import '../../../utils/module';
@import '../../../../fonts.scss';

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title {
    text-align: center;
    background: #002ad8d0;
    padding: 3vmin;
    width: 100%;
    font-size: 5vmin;
    font-weight: bold;
  }

  .logo {
    width: 60%;
    padding: 5vmin;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .customTitle {
    color: #29ecfe;
    font-size: 5vmin;
    font-weight: bold;
    padding: 3vmin;
  }

  .games {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .game {
      height: 12.5vh;
      width: 78%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .gameTitle {
        @extend %generalText;

        z-index: 1;
        margin: auto;
        text-align: center;
      }
    }
  }

  .groupSwiper {
    position: relative;
    width: 100%;
    height: 100%;

    .groupButtons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-top: 2.5%;
    }

    .gameButton {
      flex: 1;
      padding: 2%;

      .gameButtonImage {
        cursor: pointer;
        box-sizing: border-box;
        border: white 0.5vmin solid;
        border-radius: 3vmin;
        background-color: whitesmoke;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 auto 5%;

        &.selected {
          border-color: white;
        }
      }
      .gameButtonName {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

@media (min-aspect-ratio: 1/1) {
  .screen {
    height: $mainHeightLandscape;
    .logo{
      width: 30%;
      padding: 2vmin;
    }

    .customTitle {
      color: #29ecfe;
      font-size: 4vmin;
      font-weight: bold;
      padding: 2vmin;
    }
  }
}
